<div class="bootstrap-wrapper">
    <div class="row mt10">
        <div class="col-md-10 text-center off-set-2">
            <h1>Adding New Question to {{title}}</h1>
            <mat-card>
                <mat-card-header>
                    
                </mat-card-header>
                <mat-card-content>
                    <form (ngSubmit)="addNewQuesti()">

            <!--   content field----->
                  <!---  <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Question Content</mat-label>
                        <textarea [(ngModel)]="question.content" required name="content" matInput placeholder="Question Content*" rows="7"></textarea> 
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>                            
                    </mat-form-field> -->
                    <ckeditor [(ngModel)]="question.content" name="content" [editor]="Editor" data="<p>Question Content</p>"></ckeditor>

            <!--Options -->
                    <div class="row">
                        <div class="col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                           <mat-label>Option1</mat-label>
                           <input required [(ngModel)]="question.option1"  type="text" name="option1" matInput placeholder="Option1*">
                           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                        </div>
   
                        <div class="col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                           <mat-label>Option2</mat-label>
                           <input required [(ngModel)]="question.option2" type="text" name="option2" matInput placeholder="Option2*">
                           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                        </div>
                       </div>

                       <div class="row">
                        <div class="col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                           <mat-label>Option3</mat-label>
                           <input required [(ngModel)]="question.option3"  type="text" name="option3" matInput placeholder="Option3*">
                           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                        </div>
   
                        <div class="col-md-6">
                        <mat-form-field class="full-width" appearance="fill">
                           <mat-label>Option4</mat-label>
                           <input required [(ngModel)]="question.option4" type="text" name="option4" matInput placeholder="Option4*">
                           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                        </div>
                       </div>

                <!--answer-->
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Select Answer</mat-label>
                            <mat-select required [(ngModel)]="question.answer" name="answer" >
                                <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                                <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                                <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                                <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                            </mat-select>
                           
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>       

                        <div class="container text-center">
                            <button mat-raised-button color="primary"  >Add New Question</button>
                            <button class="ml10" mat-raised-button color="accent" type="reset">Reset</button>
                        </div>
                    </form>

                </mat-card-content>

            </mat-card>
            {{question | json}}
        </div>
    </div>

</div>
