<mat-card>
    <h1 class="text-center">Add New Quiz</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                  <!---  {{quiz | json}} -->
    <!-------------------------------------------------------------------------------------------------------------->           
                 <form (ngSubmit)="addQuizForm()">
    
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Title</mat-label>
                        <input required [(ngModel)]="quiz.title"  type="text" name="title" matInput placeholder="Quiz Title*">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
    
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea required [(ngModel)]="quiz.description" name="decription" matInput placeholder="Quiz Description*" rows="5"></textarea> 
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>                            
                    </mat-form-field>

                    <div class="row">
                     <div class="col-md-6">
                     <mat-form-field class="full-width" appearance="fill">
                        <mat-label>MaxMarks</mat-label>
                        <input required [(ngModel)]="quiz.maxMarks"  type="number" name="title" matInput placeholder="Quiz Maximum marks*">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                     </mat-form-field>
                     </div>

                     <div class="col-md-6">
                     <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Number of Questions</mat-label>
                        <input required [(ngModel)]="quiz.numberOfQuestions"  type="number" name="title" matInput placeholder="Number of Questions*">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                     </mat-form-field>
                     </div>
                    </div>

                   <!-- acitve field-->
                    <mat-slide-toggle name="active" class="example-margin"[(ngModel)]="quiz.active">
                        Quiz Satus!
                    </mat-slide-toggle>

                    <br />

                    <mat-form-field appearance="fill" class="full-width mt20">
                        <mat-label>Categories</mat-label>
                        <mat-select name='category' required [(ngModel)]="quiz.category.cId">
                          <mat-option *ngFor="let cat of categories" [value]="cat.cId">
                            {{cat.title}}
                          </mat-option>
                        </mat-select>               
                     </mat-form-field>
    
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary" >Add-Quiz</button>
                        <button type="reset" mat-raised-button color="accent" style="margin-left: 20px;">clear</button>
    
                    </div>
    
    
                </form>
    </div>
     </div>
    </div>
    
    </mat-card-content>
    
    
    </mat-card>