<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
            <!--Instructions-->
            <h2>Instructions</h2>
        </div>
       
        <div class="col-md-8">
            <!--Questions-->
            <ng-container *ngIf="questions">
                <h1><b>{{questions[0].quiz.title}}</b></h1>
            </ng-container>
            <mat-card *ngFor="let q of questions; let i = index" class="mt10">
                <mat-card-content>
                    <p><b>Q{{i+1}}</b>)<span class="ml10">{{q.content}}</span></p>
                    <mat-divider></mat-divider>

                    <div class="row mt10">
                        <div class="col-md-6">
                        <!--here when try to use ngModel name will become unknown type-->
                            <input type="radio"  [value]="q.option1" name="option1+'{{i}}'"  [(ngModel)]="q.givenAnswer" > 
                            {{q.option1}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [value]="q.option2"  name="option2+'{{i}}'"  [(ngModel)]="q.givenAnswer" >  
                            {{q.option2}}
                        </div>
                    </div>

                    <!--name variabel help us to set the value of selected option into the givenAnswer variable   -->

                    <div class="row mt10">
                        <div class="col-md-6">
                            <input type="radio" [value]="q.option3" name ="option3+'{{i}}'"  [(ngModel)]="q.givenAnswer" >
                            {{q.option3}}
                        </div>
                        <div class="col-md-6">
                        <input type="radio" [value]="q.option4" name="option4+'{{i}}'" [(ngModel)]="q.givenAnswer" >
                        {{q.option4}}
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

            <div class="container text-center mt10 mb10">
                <button mat-raised-button color="primary" (click)="submitQuiz()">Finish</button>
            </div>

        </div>
        <div class="col-md-2">
            <h2>Remainig Time</h2>
            <mat-card class="mt20">
                <mat-card-content>
                    <h1>{{ getFormatedtime() }}</h1>
                    <mat-spinner  color="warn" style="margin:auto" class="mt10"></mat-spinner>
                </mat-card-content>
            </mat-card>

        </div>
        </div>
    </div>
</div>

<!-- showing the Quiz result::: we can add some designing to our page  -->
<!-- Here we can also user's details  -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt10">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt10">
                    <h1>Total Marks Got: {{totalMarks}}</h1>
                    <h1>Correct Answers: {{correctAns}}</h1>
                    <h1>Attempted Questions: {{attemptedQue}}</h1>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-action-list class="text-center">
                    <button (click)="printPage()" mat-raised-button color="primary">Print</button>
                    <button style="margin-left: 10px;" routerLink="/user-dash/" mat-raised-button color="primary">Home</button>
                </mat-action-list>
            </mat-card>
        </div>
    </div>
</div>