<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin-dash/"><mat-icon matListItemIcon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/admin-dash/profile"><mat-icon matListItemIcon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink="/admin-dash/categories"><mat-icon matListItemIcon>list</mat-icon>Categories</button>
        <button mat-list-item routerLink="/admin-dash/add-category"><mat-icon matListItemIcon>add_circle_outline</mat-icon>Add-Category</button>
        <button mat-list-item routerLink="#"><mat-icon matListItemIcon>quiz</mat-icon>Quizzes</button>
        <button mat-list-item routerLink="#"><mat-icon matListItemIcon>add</mat-icon>Add-Quiz</button>
        <button mat-list-item routerLink="#"><mat-icon matListItemIcon>logout</mat-icon>Logout</button>


    </mat-action-list>



</mat-card>
